<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fas fa-table mr-1"></i> Daftar User
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover ; text-justify" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">ID User</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Email</th>
                            <th scope="col">Sebagai</th>
                        </tr>
                    </thead>
                    <!-- <?php foreach ($kategorikbli as $key => $value) : ?> -->
                    <tbody>
                        <tr>
                            <th scope="row">
                                1
                            </th>
                            <td>00001</td>
                            <td>Candra</td>
                            <td>terserah@gmail.com</td>
                            <td>Admin Perusahaan</td>
                        </tr>
                    </tbody>
                    <!-- <?php endforeach; ?> -->
                </table>
            </div>
        </div>
    </div>
</div>