<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-database fa-4x"></i>
            <div class="info">
                <h4><strong>10</strong></h4>
                <p><b>Total Kendaraan</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon"><i class="icon fa fa-file-text-o fa-4x"></i>
            <div class="info">
                <h4><strong>10</strong></h4>
                <p><b>Pengajuan Kendaraan</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon"><i class="icon fa fa-file-excel-o fa-4x"></i>
            <div class="info">
                <h4><strong>5</strong></h4>
                <p><b>Penolakan Berkas Pengajuan</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small secondary coloured-icon"><i class="icon fa fa-user fa-4x"></i>
            <div class="info">
                <h4><strong>3</strong></h4>
                <p><b>Jumlah Pejabat</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 mb-4">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i> Detail Perusahaan
            </div>
            <div class="card-body">
                <div class="col-md-4 mb-2">
                    <img class="img-pictures" src="assets/images/profile.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 mb-4">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Location Perusahaan
            </div>
            <div class="card-body">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=jayapura&t=&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                            href="https://fmovies2.org">fmovie s</a></div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 100%;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>