.app-header {
    background-color: #fff !important;
}

.app-sidebar__toggle {
    color: #000 !important;
}

.app-nav__item {
    color: #000 !important;
}

.app-header__logo {
    color: #000 !important;
    background-color: #fff;
    font-family: 'Niconne';
    padding: 0px !important;
    font-size: 26px;
    font-weight: 0px !important;
    line-height: 30px;
}

.widget-fontvalue {
    font-size: 2rem;
}

.img-pictures {
    border-radius: 300px;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow: 21px 21px 43px #dcdcdc, -21px -21px 43px #ffffff;
    width: 50%;
}

.nav-tabs .nav-link {
    background-color: #fff !important;
    color: #000;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #000 !important;
    border-color: #dee2e6 #dee2e6 #FFF;
}

.card-line {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    color: #000;
    font-size: 17px;
}