<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fa fa-table mr-1"></i> Histori Truk
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="col-md-12">
                <div class="row">
                    <table width="99%">
                        <tr>
                            <td width="75%" class="text-center">
                                <h3>PT. PERTAMINA (PERSERO) MOR VIII FT JAYAPURA
                                    <BR> PEMERIKSAAN MOBIL TANGKI BAHAN BAKAR MINYAK
                                </h3>
                            </td>
                            <td width="25%" class="text-center"><img src="assets/images/Logo.png" style="width: 90%;"
                                    alt=""></td>
                        </tr>
                    </table>
                </div>
                <hr size="10px">
                <div class="row">
                    <table width="99%">
                        <tr>
                            <td width="15%">Nama Perusahaan</td>
                            <td width="20%">: Nama Perusahaan</td>
                            <td width="30%"></td>
                            <td width="15%">Nomor Polisi</td>
                            <td width="20%">: Nomor Polisi</td>
                        </tr>
                        <tr>
                            <td width="15%">Nama Supir</td>
                            <td width="20%">: Deni Malik</td>
                            <td width="30%"></td>
                            <td width="15%">Merek/Tahun</td>
                            <td width="20%">: Honda/2000</td>
                        </tr>
                        <tr>
                            <td width="15%">Nama Kernet</td>
                            <td width="20%">: Bagus Joko Susilo</td>
                            <td width="30%"></td>
                            <td width="15%">Jenis Produk</td>
                            <td width="20%">: B10</td>
                        </tr>
                        <tr>
                            <td width="15%">Sim</td>
                            <td width="20%">: ......</td>
                            <td width="30%"></td>
                            <td width="15%">Kapasitas</td>
                            <td width="20%">: 5000</td>
                        </tr>

                    </table>
                </div>
            </div>
            <table class="table-resvonsive" width="100%" border="1">
                <thead>
                    <tr>
                        <th>No</th>
                        <th colspan="2">Kelengkapan</th>
                        <th>Penjelasan</th>
                        <th>Hasil</th>
                        <th>Keterangan</th>
                        <th>Tindak Lanjut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td colspan="2">Kelengkapan</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td rowspan="2">2</td>
                        <td rowspan="2" colspan="2">Kelengkapan</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td colspan="2">Kelengkapan</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td rowspan="2">4</td>
                        <td rowspan="2" colspan="2">Kelengkapan</td>
                        <td rowspan="2">Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td colspan="2">Kelengkapan</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td colspan="2">Kelengkapan</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td colspan="2">Kelengkapan</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td rowspan="3">8</td>
                        <td rowspan="3">Kelengkapan</td>
                        <td>Detail</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>Detail</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td>Detail</td>
                        <td>Penjelasan</td>
                        <td>Hasil</td>
                        <td>Keterangan</td>
                        <td>Tindak Lanjut</td>
                    </tr>
                    <tr>
                        <td colspan="4" rowspan="2">Kesimpulan </td>
                        <td colspan="2">Kesimpulan </td>
                        <td>Kesimpulan </td>
                    </tr>
                    <tr>
                        <td colspan="2">Kesimpulan </td>
                        <td>Kesimpulan </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table class="table-resvonsive; text-justify" width="100%">
                <thead>
                    <tr>
                        <td>diketahui oleh</td>
                        <td>HSE</td>
                        <td>Distribusi</td>
                        <td>Diperiksa oleh: <br>MS</td>
                        <td>QQ</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="100"></td>
                        <td height="100"></td>
                        <td height="100"></td>
                        <td height="100"></td>
                        <td height="100"></td>
                    </tr>

                    <tr>
                        <td>...................................</td>
                        <td>...................................</td>
                        <td>...................................</td>
                        <td>...................................</td>
                        <td>...................................</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>