<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fas fa-table mr-1"></i> KIM
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover ; text-justify" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Perusahaan</th>
                            <th scope="col">No. Polisi</th>
                            <th scope="col">Supir</th>
                            <th scope="col">Kernet</th>
                            <th scope="col">Produk</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <!-- <?php foreach ($kategorikbli as $key => $value) : ?> -->
                    <tbody>
                        <tr>
                            <th scope="row">
                                1
                            </th>
                            <td>PT. MajuMakmur</td>
                            <td>PA 1234 DS</td>
                            <td>Bagus</td>
                            <td>Adjie</td>
                            <td>kim</td>
                            <td>
                                <a class="btn btn-primary btn-sm"><i class="fa fa-print"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <!-- <?php endforeach; ?> -->
                </table>
            </div>
        </div>
    </div>
</div>