<div class="row">
    <div class="col-md-12 mb-4">
        <div class="bs-component">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="javascript:void();"
                        data-target="#datatruk"><i class="fa fa-car fa-lg"></i>&nbsp;&nbsp; Data Truk</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="javascript:void();"
                        data-target="#tambahtruk"><i class="fa fa-plus-square fa-lg"></i> &nbsp;&nbsp; Tambah Truk</a>
                </li>
            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="datatruk">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table datatable="ng" class="table row-border hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>No. Polisi</th>
                                            <th>Supir</th>
                                            <th>Kernet</th>
                                            <th>Berkas Truk</th>
                                            <th>Berkas Supir</th>
                                            <th>Berkas Kernet</th>
                                            <th><i class="fa fa-gear"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in datas">
                                            <td>{{$index+1}}</td>
                                            <td>{{item.plateNumber}}</td>
                                            <td>{{item.driverName}}</td>
                                            <td>{{item.assdriverName}}</td>
                                            <td>
                                                <ol>
                                                    <li><a href="{{url+item.vehicleRegistration.document}}"
                                                            target="_blank">File
                                                            STNK</a>
                                                    <li><a href="{{url+item.keurDLLAJR.document}}" target="_blank">File
                                                            KIR</a>
                                                </ol>
                                            </td>
                                            <td>
                                                <ol>
                                                    <li><a href="{{url+item.driverIDCard.document}}" target="_blank">KTP</a>
                                                    <li><a href="{{url+item.driverLicense.document}}"
                                                            target="_blank">SIM</a>
                                                    <li><a href="{{url+item.driverPhoto}}" target="_blank">Photo</a>
                                                </ol>
                                            </td>
                                            <td>
                                                <ol>
                                                    <li><a href="{{url+item.assdriverIDCard.document}}"
                                                            target="_blank">KTP</a>
                                                    <li><a href="{{url+item.assdriverLicense.document}}"
                                                            target="_blank">SIM</a>
                                                    <li><a href="{{url+item.assdriverPhoto}}" target="_blank">Photo</a>
                                                </ol>
                                            </td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" ng-click="edit(item)"><i
                                                        class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tambahtruk">
                        <form ng-submit="simpan()">
                            <div class="card-line">
                                <h4>Data Truk</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="plateNumber" class="col-sm-4 col-form-label">No Polisi</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="model.plateNumber"
                                                    id="plateNumber" required placeholder="Nomor Polisi">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="merk" class="col-sm-4 col-form-label">Merek</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="model.merk"
                                                    id="merk" required placeholder="Merek Mobil">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="carCreated" class="col-sm-4 col-form-label">Tahun
                                                Pembuatan</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="model.carCreated"
                                                    id="carCreated" required placeholder="Tahun Pembuatan">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="vehicleRegistration" class="col-sm-4 col-form-label">STNK</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                    ng-model="model.vehicleRegistration.number" id="vehicleRegistration"
                                                    required placeholder="Nomor STNK">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Masaberlaku" class="col-sm-4 col-form-label">Masa
                                                Berlaku</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.vehicleRegistration.berlaku"
                                                            id="mulai" required placeholder="Mulai Berlaku">
                                                    </div>
                                                    <label for="sampai"
                                                        class="col-sm-2 col-form-label text-center">s/d</label>
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.vehicleRegistration.hingga" id="sampai"
                                                            required placeholder="Selesai Berlaku">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="filestnk" class="col-sm-4 col-form-label">File STNK</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileVehicleRegistration" id="customFileSTNK"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="customFileSTNK">{{model.fileVehicleRegistration ? model.fileVehicleRegistration.filename: 'Pilih File STNK'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="trucktype" class="col-sm-4 col-form-label">Jenis
                                                Muatan</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="model.truckType"
                                                    id="trucktype" required placeholder="Jenis Muatan">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="kapasitas" class="col-sm-4 col-form-label">Kapasitas</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" ng-model="model.capacity"
                                                    id="kapasitas" required placeholder="Kapasitas">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="kir" class="col-sm-4 col-form-label">KIR</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                    ng-model="model.keurDLLAJR.number" id="kir" required
                                                    placeholder="Nomor KIR">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="kirmulai" class="col-sm-4 col-form-label">Masa
                                                Berlaku</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.keurDLLAJR.berlaku" id="kirmulai"
                                                            required placeholder="Berlaku Dari">
                                                    </div>
                                                    <label for="kirselesai"
                                                        class="col-sm-2 col-form-label text-center">s/d</label>
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.keurDLLAJR.hingga" id="kirselesai" required
                                                            placeholder="Berlaku Sampai">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="filekir" class="col-sm-4 col-form-label">File KIR</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileKeurDLLAJR" id="customFile"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="customFile">{{model.fileKeurDLLAJR ? model.fileKeurDLLAJR.filename: 'Pilih File KIR'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="truckfoto" class="col-sm-4 col-form-label">File KIR</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileTruckPhoto" id="truckfoto"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="truckfoto">{{model.fileTruckPhoto ? model.fileTruckPhoto.filename: 'Pilih Foto Truck'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-line">
                                <h4>Data Supir</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="namadrive" class="col-sm-4 col-form-label">Nama</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="model.driverName"
                                                    id="namadrive" required placeholder="Nama Supir">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ktpdrive" class="col-sm-4 col-form-label">KTP</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                    ng-model="model.driverIDCard.number" id="ktpdrive" required
                                                    placeholder="Nomor KTP">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="mulaiktpdrive" class="col-sm-4 col-form-label">Masa Berkalu
                                                KTP</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.driverIDCard.berlaku" id="mulaiktpdrive"
                                                            required placeholder="Berlaku Dari">
                                                    </div>
                                                    <label for="sampaiktpdrive"
                                                        class="col-sm-2 col-form-label text-center">s/d</label>
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.driverIDCard.hingga" id="sampaiktpdrive"
                                                            required placeholder="Berlaku Dari">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="filektpdrive" class="col-sm-4 col-form-label">File KTP</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileDriverId" id="filektpdrive"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="filektpdrive">{{model.fileDriverId ? model.fileDriverId.filename: 'Pilih KTP'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fotosupir" class="col-sm-4 col-form-label">Photo Supir</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileDriverPhoto" id="customFilePhoto"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="customFilePhoto">{{model.fileDriverPhoto ? model.fileDriverPhoto.filename: 'Pilih Photo'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="simdrive" class="col-sm-4 col-form-label">SIM</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                    ng-model="model.driverLicense.number" id="simdrive" required
                                                    placeholder="Nomor SIM">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="mulaisimdrive" class="col-sm-4 col-form-label">Masa
                                                Berlaku</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.driverLicense.berlaku" id="mulaisimdrive"
                                                            required placeholder="Berlaku">
                                                    </div>
                                                    <label for="selesaisimdrive"
                                                        class="col-sm-2 col-form-label text-center">s/d</label>
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.driverLicense.hingga" id="selesaisimdrive"
                                                            required placeholder="Tanggal Berakhir">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="filesimdrive" class="col-sm-4 col-form-label">File SIM</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileDriverLicense" id="filesimdrive"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="filesimdrive">{{model.fileDriverLicense ? model.fileDriverLicense.filename: 'Pilih KTP'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-line">
                                <h4>Data Kernet</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="namakernet" class="col-sm-4 col-form-label">Nama</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="model.assdriverName"
                                                    id="namakernet" required placeholder="Nama Kernet">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ktpkernet" class="col-sm-4 col-form-label">KTP</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                    ng-model="model.assdriverIDCard.number" id="ktpkernet" required
                                                    placeholder="Nomor KTP Kernet">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="mulaiktpkernet" class="col-sm-4 col-form-label">Masa Berkalu
                                                KTP</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.assdriverIDCard.berlaku" id="mulaiktpkernet"
                                                            required placeholder="Berlaku Dari">
                                                    </div>
                                                    <label for="selesaiktpkernet"
                                                        class="col-sm-2 col-form-label text-center">s/d</label>
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.assdriverIDCard.hingga" id="selesaiktpkernet"
                                                            required placeholder="Berlaku Dari">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="filektpkernet" class="col-sm-4 col-form-label">File KTP</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileAssDriverId" id="filektpkernet"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="filektpkernet">{{model.fileAssDriverId ? model.fileAssDriverId.filename: 'Pilih KTP'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fotokernet" class="col-sm-4 col-form-label">Photo
                                                Kernet</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileAssDriverPhoto" id="customFilePhotoKernet"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="customFilePhotoKernet">{{model.fileAssDriverPhoto ? model.fileAssDriverPhoto.filename: 'Pilih Photo'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="simkernet" class="col-sm-4 col-form-label">SIM</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                    ng-model="model.assdriverLicense.number" id="simkernet" required
                                                    placeholder="Nomor SIM">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="mulaisimkernet" class="col-sm-4 col-form-label">Masa
                                                Berlaku</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.assdriverLicense.berlaku" id="mulaisimkernet"
                                                            required placeholder="Berlaku">
                                                    </div>
                                                    <label for="selesaisimkernet"
                                                        class="col-sm-2 col-form-label text-center">s/d</label>
                                                    <div class="col-sm-5">
                                                        <input type="date" class="form-control"
                                                            ng-model="model.assdriverLicense.hingga" id="selesaisimkernet"
                                                            required placeholder="Tanggal Berakhir">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="filesimkernet" class="col-sm-4 col-form-label">File SIM</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                        ng-model="model.fileAssDriverLicense" id="customFileSIMKernet"
                                                        base-sixty-four-input>
                                                    <label class="custom-file-label"
                                                        for="customFileSIMKernet">{{model.fileAssDriverLicense ? model.fileAssDriverLicense.filename: 'Pilih KTP'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>
                                    Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>