<div class="row">
    <div class="col-md-12 mb-4">
        <div class="bs-component">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="javascript:void();"
                        data-target="#datatruk"><i class="fa fa-car fa-lg"></i>&nbsp;&nbsp; Data Truk</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="javascript:void();"
                        data-target="#tambahtruk"><i class="fa fa-plus-square fa-lg"></i> &nbsp;&nbsp; Tambah Truk</a>
                </li>
            </ul>
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="datatruk">
                            <table datatable="" class="table row-border hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Foo</td>
                                        <td>Bar</td>
                                    </tr>
                                    <tr>
                                        <td>123</td>
                                        <td>Someone</td>
                                        <td>Youknow</td>
                                    </tr>
                                    <tr>
                                        <td>987</td>
                                        <td>Iamout</td>
                                        <td>Ofinspiration</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tambahtruk">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>